.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); 
}

.login-form {
  background-color: #f9f9f9; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  width: 300px; 
}

.error-message {
  color: red; 
  margin-top: 10px; 
}

/* Modo oscuro */
.dark .login-form-container {
  background-color: rgba(34, 34, 34, 0.8);
}

.dark .login-form {
  background-color: #444;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.dark .error-message {
  color: #ff5c5c; 
}
