/* Estilo general */
body {
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Modo oscuro para el body */
body.dark {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: white;
}

.app-container {
  display: flex;
  height: 100vh;
  position: relative;
}

.sidebar {
  width: 25%;
  background-color: #f2f2f7;
  padding: 20px;
  border-right: 1px solid #ddd;
  transition: background-color 0.3s;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar li:hover {
  background-color: #e5e5ea;
}

/* Estilo para el visualizador de notas */
.note-viewer {
  width: 75%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.note-viewer h2 {
  margin-top: 0;
}

button:hover {
  background-color: #005bb5;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  height: 200px;
  resize: none;
}

/* Estilos para el encabezado */
.heading {
  position: absolute;
  top: 10px;
  left: 25px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10;
  width: 330px;
}

.heading-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  align-items: center;
}

.heading-title {
  margin: 0;
}

.heading-add-button, .heading-logout-button {
  margin-left: 10px;
  cursor: pointer;
}
