/* Estilo general */
body {
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.dark body {
  background-color: #1c1c1e;
  color: white;
}

.app-container {
  display: flex;
  height: 100vh;
  position: relative;
}

.sidebar {
  width: 25%;
  background-color: #f2f2f7;
  padding: 20px;
  border-right: 1px solid #ddd;
  transition: background-color 0.3s;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar li:hover {
  background-color: #e5e5ea;
}

/* Modo compacto para la barra lateral */
.sidebar.compact {
  padding: 10px; 
}

.sidebar.compact li {
  padding: 10px; 
  font-size: 14px; 
}

/* Estilo para el visualizador de notas */
.note-viewer {
  width: 75%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.note-viewer h2 {
  margin-top: 0;
}

button:hover {
  background-color: #005bb5;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  height: 200px;
  resize: none;
}

/* Estilos para el encabezado */
.heading {
  position: absolute; 
  top: 10px; 
  left: 25px; 
  background-color: #ffffff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 10px; 
  z-index: 10; 
  width: 330px;
}

.heading-top {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.button-container {
  display: flex; 
  align-items: center; 
}

.heading-title {
  margin: 0; 
}

.heading-add-button, .heading-logout-button {
  margin-left: 10px; 
  cursor: pointer;
}

/* Estilos para el botón de alternancia (switch) */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

/* Cambia el color del fondo y la posición del círculo al activar el switch */
input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

/* Estilos para el Modo Oscuro */
.dark-mode .sidebar {
  background-color: #1c1c1e; 
  border-right: 1px solid #333; 
}

.dark-mode .sidebar li {
  border-bottom: 1px solid #444; 
}

.dark-mode .sidebar li:hover {
  background-color: #333; 
}

.dark-mode .note-viewer {
  background-color: #2c2c2e;
  color: #ffffff;
}

.dark-mode .note-viewer h2,
.dark-mode .heading {
  color: #ffffff; 
}

.dark-mode form input,
.dark-mode form textarea {
  border: 1px solid #444; 
  background-color: #3a3a3c; 
  color: #ffffff; 
}

.dark-mode input::placeholder,
.dark-mode textarea::placeholder {
  color: #aaa; 
}

.dark-mode button {
  background-color: #005bb5; 
  color: #fff; 
}

.dark-mode .heading {
  background-color: #2c2c2e; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
